body {
    text-align: center;
    background-color: #000;
}

h1 {
    color: yellow;
    font-family: 'Lobster', cursive;
    font-size: 72px;
}

h2 {
    color: yellow;
    font-family: 'Lobster', cursive;
    font-size: 42px;
}