body {
    text-align: center;
    background-color: #000;
}

h1 {
    color: yellow;
    font-family: 'Lobster', cursive;
    font-size: 72px;
}

h2 {
    color: yellow;
    font-family: 'Lobster', cursive;
    font-size: 42px;
}

#author {
    color: yellow;
    font-family: 'Lobster', cursive;
}

#github a {
    color: yellow;
    font-family: 'Lobster', cursive;
    text-decoration: none;
}

#github a span{
    color: yellow;
    text-decoration: none;
    padding-right: 0.5rem;
}